/* Color variables */
:root {
    --black: #000000;
    --white: #FFFFFF;
    --base: #55DBD7;
    --accent1: #DBC040;
    --accent2: #8F7E31;
    --accent3: #DB6BC4;
    --accent4: #298F8B;
  }



body {
    background-color: var(--base);
    color: var(--white)
}

.grid_3columns {
  display: grid;
  grid-template-columns: auto auto auto;
}

.logo_Neumorphism {
  border-radius: 150px;
  background: #55DBD7;
  box-shadow: inset 28px 28px 32px #4fccc8,
            inset -28px -28px 32px #5beae6;
}

.button_nm {
  color: #bdfffd;
  border: none;
  height: 4vh;
  width: 12vh;
  cursor: pointer;
  border-radius: 57px;
  background: var(--base);
  box-shadow:  5px 5px 24px #4ac2be,
            -5px -5px 24px #83faf6;
}

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}